//Default website layout

html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        title=locals.data.title

        block css
            link(rel="stylesheet" type="text/css" href="/client/css/default-layout.css")

        block scripts
            script(src="/client/js/jquery-3.2.1.min.js")

    body

        block header

            header
                h1 Hometify

            each warning in locals.data.warnings
                div(class="message-box-warning")=warning

            each message in locals.data.messages
                div(class="message-box-message")=message

            each success in locals.data.successes
                div(class="message-box-success")=success

            div(class="heading")=locals.data.heading

        block content

        block footer
            footer
                script.
                    document.write("<strong><b>&copy;</b>" + new Date().getFullYear() + " Hometify</strong>")
