//-
    Main website structure

doctype html

html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        title=locals.data.title

        //CSS Files
        block css
            link(rel="stylesheet" type="text/css" href="/client/css/main.css")

        //JS Files
        block scripts
            script(src="/client/js/external_scripts/jquery-3.2.1.min.js" type="text/javascript")
            script(src="/client/js/globals.js" type="text/javascript")

    body
        //Header of website
        block header
            header
                h1 Hometify

            each warning in locals.data.warnings
                div(class="message-box-warning")=warning

            each message in locals.data.messages
                div(class="message-box-message")=message

            each success in locals.data.successes
                div(class="message-box-success")=success

            div(class="heading")
                p=locals.data.heading

        //Main content of website
        block content

        //Audio player feature
        block player

        //Footer of website
        block footer
            footer
                script.
                    document.write("<strong>&copy;" + new Date().getFullYear() + " Hometify</strong>")
